[submodule "tests/ubench/google-benchmark"]
	path = test/ubench/google-benchmark
	url = https://github.com/google/benchmark
[submodule "doc/rtd_theme"]
	path = doc/rtd_theme
	url = https://github.com/rtfd/sphinx_rtd_theme.git
[submodule "tbb"]
	path = tbb
	url = https://github.com/wjakob/tbb.git
