[submodule "google-benchmark"]
	path = ext/google-benchmark
	url = https://github.com/google/benchmark
[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
