include VERSION
include CMakeLists.txt

graft arbor
graft arborenv
graft arborio
# graft ci
graft cmake
graft doc
graft example
graft ext
graft lmorpho
graft mechanisms
graft modcc
graft python
graft scripts
# graft spack
graft sup
graft test
# graft validation

prune ext/google-benchmark
