.example-code>div[class^='highlight']:before {
    font-weight: bold;
    display: block;
    padding-bottom: 2pt;
    padding-left: 3pt;
    content: "Example";
    background: #6ab0de;
    color: #ffffff;
}

.api-code>div[class^='highlight']:before {
    font-weight: bold;
    display: block;
    padding-bottom: 2pt;
    padding-left: 3pt;
    content: "API";
    background: #e0e0e0;
}

.api-code>div[class^='highlight'] {
    background: #f4f4f4;
}

li>p:last-child {
    padding-bottom: 2ex;
}

table.docutils td {
    vertical-align: top !important;
}

@media screen and (min-width: 40em) {
    .wy-table-responsive table td,
    .wy-table-responsive table th {
        white-space: normal;
    }
}
