DEFAULT_OPTIONS

LEVEL               THREAD
UNITS               NANOSEC
LOOK_BACK           100
SPEED               1
FLAG_ICONS          ENABLED
NUM_OF_STATE_COLORS 1000
YMAX_SCALE          37


DEFAULT_SEMANTIC

THREAD_FUNC          State As Is


STATES
0    Idle
1    Running
2    Not created
3    Waiting a message
4    Blocking Send
5    Synchronization
6    Test/Probe
7    Scheduling and Fork/Join
8    Wait/WaitAll
9    Blocked
10    Immediate Send
11    Immediate Receive
12    I/O
13    Group Communication
14    Tracing Disabled
15    Others
16    Send Receive
17    Memory transfer
18    Profiling
19    On-line analysis
20    Remote memory access
21    Atomic memory operation
22    Memory ordering operation
23    Distributed locking
24    Overhead
25    One-sided op
26    Startup latency
27    Waiting links
28    Data copy
29    RTT
30    Allocating memory
31    Freeing memory


STATES_COLOR
0    {117,195,255}
1    {0,0,255}
2    {255,255,255}
3    {255,0,0}
4    {255,0,174}
5    {179,0,0}
6    {0,255,0}
7    {255,255,0}
8    {235,0,0}
9    {0,162,0}
10    {255,0,255}
11    {100,100,177}
12    {172,174,41}
13    {255,144,26}
14    {2,255,177}
15    {192,224,0}
16    {66,66,66}
17    {255,0,96}
18    {169,169,169}
19    {169,0,0}
20    {0,109,255}
21    {200,61,68}
22    {200,66,0}
23    {0,41,0}
24    {139,121,177}
25    {116,116,116}
26    {200,50,89}
27    {255,171,98}
28    {0,68,189}
29    {52,43,0}
30    {255,46,0}
31    {100,216,32}


EVENT_TYPE
0 60000001  Parallel (OMP)
VALUES
0 close
1 DO (open)
2 SECTIONS (open)
3 REGION (open)

EVENT_TYPE
0    60000018    Executed OpenMP parallel function
VALUES
0   End
1 Unresolved
2 _NOT_Found
3 nest::mc..int)#1}> [nest::mc::threading::parallel_for::apply<nest::mc::model<nest::mc::fvm::fvm_multicell<double, unsigned int> >::model<__gnu_cxx::__normal_iterator<unsigned int const*, std::vector<unsigned int, std::allocator<unsigned int> > > >(nest::mc::recipe const&, nest::mc::util::partition_range<__gnu_cxx::__normal_iterator<unsigned int const*, std::vector<unsigned int, std::allocator<unsigned int> > > > const&)::{lambda(unsigned int)#1}>]
4 pss::par..oat> > > [pss::parallel_stable_sort<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, std::less<nest::mc::connection<float> > >]
5 pss::int..oat> > > [pss::internal::parallel_stable_sort_aux<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, nest::mc::connection<float>*, std::less<nest::mc::connection<float> > >]
6 pss::int..oat> > > [pss::internal::parallel_move_merge<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, __gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, nest::mc::connection<float>*, std::less<nest::mc::connection<float> > >]
7 pss::int..oat> > > [pss::internal::parallel_move_merge<nest::mc::connection<float>*, nest::mc::connection<float>*, __gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, std::less<nest::mc::connection<float> > >]
8 nest::mc..int)#1}> [nest::mc::threading::parallel_for::apply<nest::mc::model<nest::mc::fvm::fvm_multicell<double, unsigned int> >::run(float, float)::{lambda()#1}::operator()() const::{lambda(unsigned int)#1}>]


EVENT_TYPE
0    60000118    Executed OpenMP parallel function line and file
VALUES
0   End
1 0 (Unresolved)
2 0 (_NOT_Found)
3 60 (omp.hpp, miniapp.exe)
4 60 (omp.hpp, miniapp.exe)
5 64 (parallel..e_sort.h) [64 (parallel_stable_sort.h, miniapp.exe)]
6 64 (parallel..e_sort.h) [64 (parallel_stable_sort.h, miniapp.exe)]
7 90 (parallel..e_sort.h) [90 (parallel_stable_sort.h, miniapp.exe)]
8 112 (parallel..e_sort.h) [112 (parallel_stable_sort.h, miniapp.exe)]


EVENT_TYPE
0    60000023    Executed OpenMP task function
VALUES
0   End
1 Unresolved
2 _NOT_Found
3 nest::mc..int)#1}> [nest::mc::threading::parallel_for::apply<nest::mc::model<nest::mc::fvm::fvm_multicell<double, unsigned int> >::model<__gnu_cxx::__normal_iterator<unsigned int const*, std::vector<unsigned int, std::allocator<unsigned int> > > >(nest::mc::recipe const&, nest::mc::util::partition_range<__gnu_cxx::__normal_iterator<unsigned int const*, std::vector<unsigned int, std::allocator<unsigned int> > > > const&)::{lambda(unsigned int)#1}>]
4 pss::par..oat> > > [pss::parallel_stable_sort<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, std::less<nest::mc::connection<float> > >]
5 pss::int..oat> > > [pss::internal::parallel_stable_sort_aux<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, nest::mc::connection<float>*, std::less<nest::mc::connection<float> > >]
6 pss::int..oat> > > [pss::internal::parallel_move_merge<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, __gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, nest::mc::connection<float>*, std::less<nest::mc::connection<float> > >]
7 pss::int..oat> > > [pss::internal::parallel_move_merge<nest::mc::connection<float>*, nest::mc::connection<float>*, __gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, std::less<nest::mc::connection<float> > >]
8 nest::mc..int)#1}> [nest::mc::threading::parallel_for::apply<nest::mc::model<nest::mc::fvm::fvm_multicell<double, unsigned int> >::run(float, float)::{lambda()#1}::operator()() const::{lambda(unsigned int)#1}>]


EVENT_TYPE
0    60000123    Executed OpenMP task function line and file
VALUES
0   End
1 0 (Unresolved)
2 0 (_NOT_Found)
3 60 (omp.hpp, miniapp.exe)
4 60 (omp.hpp, miniapp.exe)
5 64 (parallel..e_sort.h) [64 (parallel_stable_sort.h, miniapp.exe)]
6 64 (parallel..e_sort.h) [64 (parallel_stable_sort.h, miniapp.exe)]
7 90 (parallel..e_sort.h) [90 (parallel_stable_sort.h, miniapp.exe)]
8 112 (parallel..e_sort.h) [112 (parallel_stable_sort.h, miniapp.exe)]


EVENT_TYPE
0    60000024    Instantiated OpenMP task function
VALUES
0   End
1 Unresolved
2 _NOT_Found
3 nest::mc..int)#1}> [nest::mc::threading::parallel_for::apply<nest::mc::model<nest::mc::fvm::fvm_multicell<double, unsigned int> >::model<__gnu_cxx::__normal_iterator<unsigned int const*, std::vector<unsigned int, std::allocator<unsigned int> > > >(nest::mc::recipe const&, nest::mc::util::partition_range<__gnu_cxx::__normal_iterator<unsigned int const*, std::vector<unsigned int, std::allocator<unsigned int> > > > const&)::{lambda(unsigned int)#1}>]
4 pss::par..oat> > > [pss::parallel_stable_sort<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, std::less<nest::mc::connection<float> > >]
5 pss::int..oat> > > [pss::internal::parallel_stable_sort_aux<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, nest::mc::connection<float>*, std::less<nest::mc::connection<float> > >]
6 pss::int..oat> > > [pss::internal::parallel_move_merge<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, __gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, nest::mc::connection<float>*, std::less<nest::mc::connection<float> > >]
7 pss::int..oat> > > [pss::internal::parallel_move_merge<nest::mc::connection<float>*, nest::mc::connection<float>*, __gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, std::less<nest::mc::connection<float> > >]
8 nest::mc..int)#1}> [nest::mc::threading::parallel_for::apply<nest::mc::model<nest::mc::fvm::fvm_multicell<double, unsigned int> >::run(float, float)::{lambda()#1}::operator()() const::{lambda(unsigned int)#1}>]


EVENT_TYPE
0    60000124    Instantiated OpenMP task function line and file
VALUES
0   End
1 0 (Unresolved)
2 0 (_NOT_Found)
3 60 (omp.hpp, miniapp.exe)
4 60 (omp.hpp, miniapp.exe)
5 64 (parallel..e_sort.h) [64 (parallel_stable_sort.h, miniapp.exe)]
6 64 (parallel..e_sort.h) [64 (parallel_stable_sort.h, miniapp.exe)]
7 90 (parallel..e_sort.h) [90 (parallel_stable_sort.h, miniapp.exe)]
8 112 (parallel..e_sort.h) [112 (parallel_stable_sort.h, miniapp.exe)]


EVENT_TYPE
0 60000022 OMP task wait
VALUES
0 End
1 Begin

EVENT_TYPE
0 60000028 Task Identifier

EVENT_TYPE
0 65000000 Number of OpenMP instantiated tasks
0 65000001 Number of OpenMP executed tasks

EVENT_TYPE
0    60000020    pthread function
VALUES
0   End
1 Unresolved
2 _NOT_Found
3 nest::mc..int)#1}> [nest::mc::threading::parallel_for::apply<nest::mc::model<nest::mc::fvm::fvm_multicell<double, unsigned int> >::model<__gnu_cxx::__normal_iterator<unsigned int const*, std::vector<unsigned int, std::allocator<unsigned int> > > >(nest::mc::recipe const&, nest::mc::util::partition_range<__gnu_cxx::__normal_iterator<unsigned int const*, std::vector<unsigned int, std::allocator<unsigned int> > > > const&)::{lambda(unsigned int)#1}>]
4 pss::par..oat> > > [pss::parallel_stable_sort<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, std::less<nest::mc::connection<float> > >]
5 pss::int..oat> > > [pss::internal::parallel_stable_sort_aux<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, nest::mc::connection<float>*, std::less<nest::mc::connection<float> > >]
6 pss::int..oat> > > [pss::internal::parallel_move_merge<__gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, __gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, nest::mc::connection<float>*, std::less<nest::mc::connection<float> > >]
7 pss::int..oat> > > [pss::internal::parallel_move_merge<nest::mc::connection<float>*, nest::mc::connection<float>*, __gnu_cxx::__normal_iterator<nest::mc::connection<float>*, std::vector<nest::mc::connection<float>, std::allocator<nest::mc::connection<float> > > >, std::less<nest::mc::connection<float> > >]
8 nest::mc..int)#1}> [nest::mc::threading::parallel_for::apply<nest::mc::model<nest::mc::fvm::fvm_multicell<double, unsigned int> >::run(float, float)::{lambda()#1}::operator()() const::{lambda(unsigned int)#1}>]


EVENT_TYPE
0    60000120    pthread function line and file
VALUES
0   End
1 0 (Unresolved)
2 0 (_NOT_Found)
3 60 (omp.hpp, miniapp.exe)
4 60 (omp.hpp, miniapp.exe)
5 64 (parallel..e_sort.h) [64 (parallel_stable_sort.h, miniapp.exe)]
6 64 (parallel..e_sort.h) [64 (parallel_stable_sort.h, miniapp.exe)]
7 90 (parallel..e_sort.h) [90 (parallel_stable_sort.h, miniapp.exe)]
8 112 (parallel..e_sort.h) [112 (parallel_stable_sort.h, miniapp.exe)]


EVENT_TYPE
6    40000033    Executing CPU
6    40000133    CPU-Event sampling interval


EVENT_TYPE
6    40000001    Application
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000050    RAW clock() value from system


EVENT_TYPE
6    40000003    Flushing Traces
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000002    Trace initialization
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000036    Process IDentifier
6    40000037    Parent Process IDentifier
6    40000038    fork() depth


GRADIENT_COLOR
0    {0,255,2}
1    {0,244,13}
2    {0,232,25}
3    {0,220,37}
4    {0,209,48}
5    {0,197,60}
6    {0,185,72}
7    {0,173,84}
8    {0,162,95}
9    {0,150,107}
10    {0,138,119}
11    {0,127,130}
12    {0,115,142}
13    {0,103,154}
14    {0,91,166}


GRADIENT_NAMES
0    Gradient 0
1    Grad. 1/MPI Events
2    Grad. 2/OMP Events
3    Grad. 3/OMP locks
4    Grad. 4/User func
5    Grad. 5/User Events
6    Grad. 6/General Events
7    Grad. 7/Hardware Counters
8    Gradient 8
9    Gradient 9
10    Gradient 10
11    Gradient 11
12    Gradient 12
13    Gradient 13
14    Gradient 14


EVENT_TYPE
9    40000018    Tracing mode:
VALUES
1      Detailed
2      CPU Bursts


