# Compiled Object files
*.slo
*.lo
*.o
*.obj

# netbeans
nbproject

# youcompleteme
.ycm_extra_conf.pyc
compile_commands.json

# executable names used in this project
*.exe
*.cuda

# backup files
*.back

# vim temporary files
*.swp
*.swn
*.swo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.knl
*.exe
*.out
*.app

# CMake temp files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

stream.intel
stream.gnu
stream.mpi
stream.omp
*.optrpt
