name: Lint

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Lint
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Get packages
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Clone w/ submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Python analysis
        run: |
          ruff check --output-format=github .
      - name: Python formatting
        run: |
          ruff format --check .
      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y clang clang-tidy cmake ninja-build
      - name: Lint
        run: |
          mkdir build
          cd build

          cmake .. -GNinja -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DARB_WITH_PYTHON=OFF -DARB_VECTORIZE=OFF -DARB_WITH_MPI=OFF -DARB_WITH_ASSERTIONS=ON -DARB_CLANG_TIDY=ON
